body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 50px 0;
    background-color: #0077cc;
    color: white;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.portfolio-section {
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;

}



.portfolio-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}

.portfolio-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;


}

.portfolio-content {
    padding: 20px;
}

.portfolio-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 10px 0;
}

.portfolio-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.portfolio-content .learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portfolio-content .learn-more:hover {
    background-color: #005fa3;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }

    .portfolio-item {
        grid-column: span 2;
    }
}